body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(240, 29%, 97%);
    color: hsl(0, 0%, 10%);
}

h1 {
    text-align: center;
    color: hsl(0, 0%, 10%);
    margin-top: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: hsl(0, 0%, 100%);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
}

th {
    background-color: hsl(204, 77%, 50%);
    color: white;
    font-size: 16px;
}

tr:hover {
    background-color: hsl(0, 0%, 95%);
}

td img {
    border-radius: 4px;
}

td {
    font-size: 13px;
}

button {
    background-color: hsl(6, 78%, 57%);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(6, 63%, 46%);
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
